#loginMenu {
  position:absolute;
  top:0;
  right:0;
  padding-top: 10px;
  padding-bottom: 10px;
  background: lightgray;
}

a {
  padding-left: 10px;
  padding-right: 10px;
  color: blue;
}

a:hover {
  background-color: gray;
}

a:active {
  background-color: #313131;
}
