.games {
  display: flex;
  justify-content: center;
}

.filters {
  position: absolute;
  top: 7em;
  right: 10em;
}

.table {
  position: absolute;
  top: 15em;
}

.submit {
  position: absolute;
  right: 1em;
}

.inline {
  display: inline;
}
