#welcomeMenu {
  position:absolute;
  top:0;
  right:0;
  padding-top: 10px;
  padding-bottom: 10px;
  background: lightgray;
}

p {
  padding-left: 10px;
  padding-right: 10px;
  color: black;
}

a {
  padding-left: 10px;
  padding-right: 10px;
  color: blue;
}
