<div class="registration-requests">
  <h2>Registration Requests</h2>
  <table *ngIf="requestsPopulated">
    <tr class="header">
      <td> Username </td>
      <td> First Name </td>
      <td> Last Name </td>
      <td> Email </td>
      <td> Date Requested </td>
      <td> Approve/Remove </td>
    </tr>
    <tr *ngFor="let request of requests" class="request">
      <td> {{ request.username }} </td>
      <td> {{ request.firstName }} </td>
      <td> {{ request.lastName }} </td>
      <td> {{ request.email }} </td>
      <td> {{ request.date.toDateString() }} </td>
      <td>
        <!-- TODO implement this -->
        <button class="btn btn-success" (click)="approve(request.username)"> Approve </button>
        <button class="btn btn-danger" (click)="remove(request.username)"> Remove </button>
      </td>
    </tr>
  </table>
  <h3 *ngIf="!requestsPopulated"> No registration requests to show </h3>
</div>


