.games {
  display: flex;
  justify-content: center;
}

.filters {
  position: absolute;
  top: 7em;
  right: 10em;
}

.table {
  position: absolute;
  top: 11em;
}

.users {
  display: inline;
}

#dropdownMenuLink {
  display: inline;
}

.submit {
  position: absolute;
  right: 1em;
}
