<div>
  <h2> Servers </h2>
</div>

<table *ngIf="serversPopulated">
  <table>
    <tr class="header">
      <td> IP </td>
      <td> Name </td>
      <td> Active </td>
      <td> Added By</td>
      <td> Start/Stop </td>
    </tr>
    <tr class= "game" *ngFor="let server of servers">
      <td> <a href="{{ server.ip }}"> {{ server.ip }} </a> </td>
      <td> {{server.game}} </td>
      <td>
        <span class="glyphicon glyphicon-ok" *ngIf="server.active"></span>
        <span class="glyphicon glyphicon glyphicon-remove" *ngIf="!server.active"></span>
      </td>
      <td> {{ server.addedBy }} </td>
      <td>
        <button class="btn btn-danger" (click)="stopServer(server)" *ngIf="server.active"> Stop </button>
        <button class="btn btn-success" (click)="startServer(server)" *ngIf="!server.active"> Start </button>
      </td>
    </tr>
  </table>
</table>
