.registration-requests {
  text-align: center;
}

table {
  margin: 0 auto;
  text-align: center;
}

tr {
  height: 5em;
}

td {
  min-width: 5em;
  padding-left: 1em;
  padding-right: 1em;
}

table, tr, td {
  border: 1px solid black;
}

.header {
  background: lightblue;
}

.request {
  background: lightcyan;
}
