<div class="login-wrapper center">
  <form name="login" method="POST" action="/api/login" class="{{ validated ? 'was-validated' :'not-validated' }}">
    <div class="username">
      <label for="user" class="form-label">Username</label>
      <input name="user" id="user" type="text" class="needs-validation" value="{{ user }}" required />
      <div class="invalid-feedback">Username Required</div>
    </div>
    <div class="password">
      <label for="pass" class="form-label">Password</label>
      <input name="pass" id="pass" type="password" class="needs-validation" required />
      <div class="valid-feedback"></div>
      <div class="invalid-feedback">Password Required</div>
    </div>
    <div class="remember">
      <input name="remember" type="checkbox" id="remember-me">
      <label class="form-check-label" for="remember-me">Remember Me</label>
    </div>
    <label>  </label>
    <button type="submit" class="login center">Login</button>
  </form>
</div>
