<form class="filters" (submit)="updateTable($event)">
  <p> Search by Game: <input id="game" type="text" value="{{ nameSearch == 'undefined' ? '' : nameSearch }}" placeholder="Search for games"></p>
  <p> Search by IP: <input id="ip" type="text" value="{{ ipSearch == 'undefined' ? '' : ipSearch }}" placeholder="Search by IP"></p>

  <p class="inline"> Search by Active: </p>
  <select id="active">
    <option value='undefined'> None </option>
    <option  [selected]="activeSearch" value=true>Yes</option>
    <option  [selected]="activeSearch == false" value=false>No</option>
  </select>
  <br>
  <p class="inline"> Search by Users: </p>
  <select id="user">
    <option value=undefined> None </option>
    <option *ngFor="let user of allUsers" [selected]="user == usersSearch" [value]="user">{{user}}</option>
  </select>

  <button type="submit" class="submit btn-primary"> Submit </button>
</form>

<div class="table">
  <app-serverlist userFilter="{{ usersSearch }}" ipFilter="{{ ipSearch }}" nameFilter="{{nameSearch}}" activeFilter="{{ activeSearch }}"></app-serverlist>
</div>
